%p="Time format: mm/dd/yy:hh:mm(24h format)"
=simple_form_for @appointment do |f|
	= f.error_notification 
	= f.input :service, collection: [ "Full detail", "Interior", "Exterior", "Ceramic pro", "Paint correction"], required: true
	= f.input :time, "data-provide" => 'datepicker' , required: true
	= f.input :vehicle_vin, required: true
	= f.input :vehicle_name, required: true
	= f.input :vehicle_manufacture, required: true
	= f.input :vehicle_type, collection: [ "Regular", "SUV"], required: true
	= f.input :vehicle_year, required: true
	= f.input :vehicle_license_plate_num, required: true
	= f.button :submit