= image_tag('trident.png', width: '400px') 
%p="At Trident Auto & Home Care Ltd. We focus on our customers satisfaction more than anything else. We offer professional detailing services including Interior and Exterior Detail; Shampoo services for carpets and seats, paint correction in 3 stages (Stage 1,2,3) along with Ceramic Coatings varying from 2 year warranties to lifetime warranty. We use the brand CeramicPro which is the highest quality brand in the market backed by a full warranty and various benefits including a water beading effect, prevention from oxidization and more.. it leaves your vehicles with a high gloss shine. We also offer ceramic coating for accessories such as bags, purses, shoes, wallets, etc. This product leaves your leather or textiles protected for months/years to come. The item will not stain and will not get as dirty so quick. We offer mobile services & we are flexible when it comes to your schedule we make it work! Prices vary for our work but the more often or more work you get done we offer loyalty discounts with our Trident Member Plans."

%h2= "Sample Pictures"
= image_tag('whole_before',width: '300px')
= image_tag('whole_after',width: '300px')
= image_tag('tire_before',width: '300px',height: "200")
= image_tag('tire_after',width: '300px',height: "200")